.container {
  background-color: #5bd1ff;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  margin: 100px;
}

.line {
  width: 200px;
}

.main {
  display: flex;
}

.p {
  margin-bottom: 0px;
  color: white;
}

.button {
  color: white;
  background-color: #6c757d;
  border-color: white;
}

.button:hover {
  background-color: #e18606;
}
