.App {
  min-height: 100vh;
  background-color: #fdfdfd;
}

button.navbar-toggler {
  border-color: white !important;
}

.hoverClass:hover {
  background-color: rgba(91, 209, 255, 0.2);
}

.textColorNav {
  color: white !important;
}
